.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-cell);
  height: var(--size-cell);
  border: 1px solid black;
  cursor: pointer;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      border-top: none;
    }
  }

  @for $i from 7 through 9 {
    &:nth-child(#{$i}) {
      border-bottom: none;
    }
  }

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(3n + 3) {
    border-right: none;
  }

  &.x,
  &.circle {
    color: #000000;
    cursor: default;
  }

  &::before {
    position: relative;
    content: "";
    display: block;
    width: var(--size-mark);
    height: var(--size-mark);
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s, background 0.2s;
  }
}

.board.x .cell:not(.x):not(.circle):hover,
.board.circle .cell:not(.x):not(.circle):hover,
.cell.x,
.cell.circle {
  &::before {
    opacity: 1;
  }
}

.board.x .cell:not(.x):not(.circle):hover,
.cell.x {
  &::before {
    background-image: url("../assets/svg/x-icon.svg");
  }
}

.board.circle .cell:not(.x):not(.circle):hover,
.cell.circle {
  &::before {
    background-image: url("../assets/svg/o-icon.svg");
  }
}

.board.x,
.board.circle {
  .cell:not(.x):not(.circle):hover::before {
    filter: invert(99%) sepia(0%) saturate(6745%) hue-rotate(229deg) brightness(122%) contrast(76%);
  }
}
