.end-message {
  &__text {
    display: flex;
    gap: 0.3em;
    align-items: center;
    font-size: 2em;

    &.x::before,
    &.circle::before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      margin-bottom: -5px;
      background-size: contain;
    }

    &.x::before {
      background-image: url("../assets/svg/x-icon.svg");
    }

    &.circle::before {
      background-image: url("../assets/svg/o-icon.svg");
    }
  }

  .modal__footer {
    justify-content: center;
  }
}
