.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0 / 70%);
  visibility: hidden;
  cursor: pointer;

  &--active {
    visibility: visible;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 400px;
    min-height: 200px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 1em;
    cursor: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
  }

  &__close-btn {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #ebebeb;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 2px;
      height: 50%;
      background-color: #a0a0a0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
