.restart-btn {
  display: flex;
  gap: 0.5em;
  align-items: center;
  height: 2.5em;
  padding: 0 1em 0 0.8em;
  color: #ffffff;
  background: none;
  background-color: #000000;
  border: none;
  border-radius: 1.25em;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &__icon {
    display: block;
    width: 1em;
    height: 1em;
    background-image: url("../assets/svg/restart.svg");
    background-size: contain;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
  }

  &:hover {
    box-shadow: 2px 2px 5px 0 rgba(0 0 0 / 30%);
    transform: translateY(-2px);
  }

  &:hover &__icon {
    transform: rotate(360deg);
  }
}
