.settings-modal {
  &__mode {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  &__close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__mark {
    display: flex;
    gap: 1em;
    align-items: center;
  }
}
