@use "scss-variables" as *;

.sidebar {
  display: grid;
  gap: 1.5rem 2rem;
  justify-content: center;
  align-content: center;
  justify-items: start;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, auto);
    justify-items: center;
  }

  &__current-turn {
    padding-left: 5px;
  }

  &__nav {
    @media (max-width: $breakpoint-tablet) {
      order: -1;
    }
  }

  &__restart {
    @media (max-width: $breakpoint-tablet) {
      grid-column: 1 / 3;
    }
  }
}
