:root {
  --size-cell: 80px;
  --size-mark: 60px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.sidebar--top {
  order: -1;
  padding-top: 2rem;
}

.link {
  position: relative;
}
.link::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  height: 1px;
  background-color: currentcolor;
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
  transition: transform 0.5s ease-in;
}
.link:hover::after {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
}

.current-turn {
  display: flex;
  align-items: center;
}

.turn-icon {
  display: block;
  width: 1em;
  height: 1em;
  background-size: contain;
}
.turn-icon.x {
  background-image: url("../assets/svg/x-icon.svg");
}
.turn-icon.circle {
  background-image: url("../assets/svg/o-icon.svg");
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-cell);
  height: var(--size-cell);
  border: 1px solid black;
  cursor: pointer;
}
.cell:nth-child(1) {
  border-top: none;
}
.cell:nth-child(2) {
  border-top: none;
}
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(7) {
  border-bottom: none;
}
.cell:nth-child(8) {
  border-bottom: none;
}
.cell:nth-child(9) {
  border-bottom: none;
}
.cell:nth-child(3n+1) {
  border-left: none;
}
.cell:nth-child(3n+3) {
  border-right: none;
}
.cell.x, .cell.circle {
  color: #000000;
  cursor: default;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.cell.x::before,
.cell.circle::before {
  position: relative;
  content: "";
  display: block;
  width: var(--size-mark);
  height: var(--size-mark);
  background-size: contain;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.cell.x::before {
  background-image: url("../assets/svg/x-icon.svg");
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.cell.circle::before {
  background-image: url("../assets/svg/o-icon.svg");
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  filter: invert(99%) sepia(0%) saturate(6745%) hue-rotate(229deg) brightness(122%) contrast(76%);
}

.scoreboard {
  display: grid;
  grid-template-areas: "title title title" "descr descr descr" "x-head draw-head o-head" "x-count draw-count o-count";
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  min-width: 300px;
}
.scoreboard__title {
  grid-area: title;
  margin: 0;
}
.scoreboard__description {
  grid-area: descr;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 0.8em;
}
.scoreboard__cell {
  padding: 5px 10px;
}
.scoreboard__cell--head {
  text-decoration: underline;
}

.x-wins {
  grid-area: x-head;
}
.x-wins-count {
  grid-area: x-count;
}

.o-wins {
  grid-area: o-head;
}
.o-wins-count {
  grid-area: o-count;
}

.draws {
  grid-area: draw-head;
}
.draws-count {
  grid-area: draw-count;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 20px;
}
.footer__copyright {
  display: flex;
  gap: 10px;
}
.footer__github-link {
  color: #000000;
  text-decoration: none;
}
.footer__rs-link {
  display: block;
  width: 80px;
  height: 30px;
  background-image: url("https://rs.school/images/rs_school_js.svg");
  background-size: contain;
}
.footer__rs-link::after {
  bottom: -5px;
}

.end-message {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}
.end-message__inner {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 200px;
  padding: 50px;
  background-color: #ffffff;
}
.end-message__text {
  display: flex;
  gap: 0.3em;
  align-items: center;
  font-size: 2em;
}
.end-message__text.x::before, .end-message__text.circle::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  margin-bottom: -5px;
  background-size: contain;
}
.end-message__text.x::before {
  background-image: url("../assets/svg/x-icon.svg");
}
.end-message__text.circle::before {
  background-image: url("../assets/svg/o-icon.svg");
}
.end-message--active {
  visibility: visible;
}

.restart-btn {
  display: flex;
  gap: 0.5em;
  align-items: center;
  height: 2.5em;
  padding: 0 1em 0 0.8em;
  color: #ffffff;
  background: none;
  background-color: #000000;
  border: none;
  border-radius: 1.25em;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.restart-btn__icon {
  display: block;
  width: 1em;
  height: 1em;
  background-image: url("../assets/svg/restart.svg");
  background-size: contain;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}
.restart-btn:hover {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.restart-btn:hover .restart-btn__icon {
  transform: rotate(360deg);
}/*# sourceMappingURL=index.css.map */