.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-cell);
  height: var(--size-cell);
  border: 1px solid black;
  cursor: pointer;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      border-top: none;
    }
  }

  @for $i from 7 through 9 {
    &:nth-child(#{$i}) {
      border-bottom: none;
    }
  }

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(3n + 3) {
    border-right: none;
  }

  &.x,
  &.circle {
    cursor: default;
  }
}

.cell.x::before,
.cell.x::after {
  position: absolute;
  content: "";
  display: block;
  width: calc(var(--size-mark) * 0.2);
  height: var(--size-mark);
  background-color: #000000;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
}

.cell.circle::before {
  width: calc(var(--size-mark) * 0.9);
  height: calc(var(--size-mark) * 0.9);
  background-color: #000000;
}

.cell.circle::after {
  width: calc(var(--size-mark) * 0.6);
  height: calc(var(--size-mark) * 0.6);
  background-color: #ffffff;
}
