.footer {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 20px;
  }

  &__copyright {
    display: flex;
    gap: 10px;
  }

  &__github-link {
    color: #000000;
    text-decoration: none;
  }

  &__rs-link {
    display: block;
    width: 80px;
    height: 30px;
    background-image: url("https://rs.school/images/rs_school_js.svg");
    background-size: contain;

    &::after {
      bottom: -5px;
    }
  }
}
