*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
