.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0 / 70%);
  visibility: hidden;
  cursor: pointer;

  &--active {
    visibility: visible;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 200px;
    padding: 50px;
    background-color: #ffffff;
    cursor: auto;
  }
}
